@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --tsk-primary-dark: #45084a;
  --tsk-primary: #6f169e;
  --tsk-secondary: #a848c7;
  --tsk-light-1: #efd5f8;
  --tsk-light-2: #f8ebfc;
  --foreground: #ffffff;

  --font-heading: 'League Spartan', sans-serif;
  --font-body: 'Montserrat', sans-serif;
  --font-other: 'DM Sans', sans-serif;
  --font-decorative: 'Square Peg', 'cursive';
}

@layer base {
  body {
    font-family: var(--font-body);
    color: #000000;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
    color: var(--tsk-primary-dark);
  }
}

/* Custom utility classes can be moved to @layer utilities if needed */
h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--tsk-primary-dark);
}

.blog-header {
  font-family: var(--font-decorative);

}

@keyframes EclipseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  transform-origin: center center;
  animation: EclipseAnimation 2s ease-in-out infinite;
}
